<div class="container is-fluid">
    <nav class="navbar bg-light" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="#">
                <img src="/assets/adamo-only-logo.svg" width="28" height="28" alt="adamo">
                <span>DAMO</span>
            </a>
            <span #navBurger class="navbar-burger burger" aria-label="menu" aria-expanded="false"
                data-target="navbarElements" (click)="onBurgerClicked()">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </span>
        </div>

        <!-- 
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
      
             -->
        <!-- </div> -->

        <div id="navbarElements" #navMenu class="navbar-menu">
            <div class="navbar-end">
                <a class="navbar-item has-icon-right" href="/ausprobieren">
                    <span>{{ 'HEADER.TRYOUT' | translate }} </span>
                    <span class="icon is-right">
                        <img src="/assets/logo_ipim.svg" width="32" height="32" alt="ipim">
                    </span>
                </a>
                <a class="navbar-item has-icon-right" href="/docs">
                    <span>{{ 'HEADER.DOCUMENTATION' | translate }}</span>
                    <span class="icon"><i class="fa fa-book is-right"></i></span>

                </a>
                <a class="navbar-item has-icon-right" href="/tutorial">
                    <span>Tutorial</span>
                    <span class="icon"><i class="fa fa-graduation-cap is-right"></i></span>
                </a>
                <a class="navbar-item" href="github.com/HAWMobileSystems/adamo">
                    <span>GitHub</span>
                    <span class="icon"><i class="fab fa-github"></i></span>
                </a>
                <a class="navbar-item" href="ipim.institute">
                    <span>IPIM</span>
                    <span class="icon">
                        <img src="/assets/logo_ipim.svg" width="132" height="32" alt="ipim">
                    </span>
                </a>
                <a class="navbar-item" >
                    <span class="select">
                    <select class="" #langSelect (change)="translate.use(langSelect.value)">
          <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{ lang }}</option>
        </select>
        </span>
                    <!-- <span class="icon">
                        <img src="/assets/logo_ipim.svg" width="32" height="32" alt="ipim">
                    </span> -->
                </a>
                
            </div>
        </div>
    </nav>
</div>